@font-face {
    font-family: 'texta_altregular';
    src: url('font/latinotype_-_textaalt-regular-webfont.woff2') format('woff2'),
         url('font/latinotype_-_textaalt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$black-90:#181818;
$black-80:#141414;
$blue:#16173A;
$greenBlue:#009BA5;


$white:#fff;
$black:#000;
$yellow:#F8EA46;
$grey-light:#DBDADE;
$grey-light-40:#F3F2F466;
$grey-light-0:#F3F2F400;
$red:#FA0050;
$red-deep:#b32552;
$green: #60F6C0;
$greenIcon:#50D8A7;


// FONT
$latinotype: "texta_altregular", sans-serif;


// FONT-WEIGHT
$open-sans-bold:700;
$open-sans-regular:400;
$open-sans-light:200;

$roboto-bold:700;
$roboto-regular:400;
$roboto-light:200;

// FONT SIZE
$font-size-xx-large:60px;
$font-size-x-large:48px;
$font-size-mobile-x-large:30px;
$font-size-mobile-xx-large:18px;
$font-large:32px;

$font-regular:1rem;
$font-regular-small:0.8rem;
$font-regular-medium:0.9rem;
$font-medium:14px;
$font-medium-x:15px;
$font-medium-18:18px;
$font-size-icon:40px;

// ANCHO DE MEDIA QUERY
$screen-xs-min: 0;
$screen-sm-min: 544px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

// ANCHO DE SCREEN
$max-width-1440:1440px;
$max-width-100:100%;
$max-width-90:90%;
$max-width-80:80%;
$max-width-70:70%;
$max-width-60:60%;
$max-width-50:50%;
$max-width-40:40%;

$width-col:8.3333333333%;

