.button{
    display: inline-block;
    border: none;
    width: 60vw;
    padding:1rem 2.5rem;
    cursor: pointer;
    background-color:$red;
    color: $white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.68rem;
    font-family: $segma-semi-bold;
    display: flex;
    justify-content: center;
    align-items: center;
}